#aboutContainer {
  margin-top: 12vh;
  width: 100%;
  height: 40vh;
  background-color: var(--bg-color);
  position: relative;
  transition: background-color 0.3s ease;
}

#AboutText {
  background-color: var(--bg-color);
  margin-left: 40%;
  height: 100%;
  padding-top: 5vh;
  line-height: 1;
  padding-left: 8vh;
  position: relative;
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

#AboutText h5 {
  font-size: 1.5em;
  font-family: "Open Sauce one Medium";
  font-weight: 10;
}

#AboutText h5#Description {
  font-size: 1.2em;
  font-family: "Open Sauce one Medium";
  font-weight: 10;
}

#AboutText h1 {
  font-size: 5.5rem;
  line-height: 1;
}

#VideoPart video {
  height: 300px;
  width: 300px;
  margin-left: 30px;
  margin-top: 40px;
  gap: 20px;
  position: absolute;
}

#VideoPart h4 {
  position: absolute;
  color: var(--text-color);
  font-size: 1rem;
  margin-left: 30px;
  margin-top: 80px;
  transition: color 0.3s ease;
}

#VideoPart h4 i {
  font-size: 0.9rem;
  transform: rotate(90deg);
  display: inline-block;
}

.video-box {
  width: 90%;
  height: 90%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
}

.fullscreen-video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bounding {
  overflow: hidden;
}

.boundingelem {
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
}

@media (max-width: 768px) {
  #aboutContainer {
    position: absolute;
    width: 100%;
    height: 50vh;
    transition: background-color 0.3s ease;
    background-color: rgb(254, 0, 0);
  }

  #AboutText {
    position: relative;
    width: 70%;
    margin-left: 40%;
    padding-left: 0;
    margin-top: -60px;
    background-color: yellowgreen;
  }

  #AboutText h1 {
    font-size: 3rem;
    line-height: 1.2;
  }

  /* #AboutText h5,
  #AboutText h5#Description {
    font-size: 1rem;
  }

  #VideoPart video {
    margin-top: -50px;
    margin-left: -6px;
    height: 30vh;
    width: 30vw;
  }

  #VideoPart h4 {
    position: relative;
    margin-left: -1px;
    margin-top: 10px;
    text-align: center;
    font-size: 0.9rem;
  } */
}
